.app {
    min-height: 100vh;
    display: flex;
}

header {
    padding: 20px;
    width: 225px;
    flex-shrink: 0;
    position: fixed;
    height: 100%;
    color: #fff;
    display: flex;
}

header h1 {
    margin: 0;
    color: #eee;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    width: 200px;
}

header img {
    width: 75%;
}

.content {
    width: 100%;
    margin-left: 225px;
    position: relative;
}

@media (max-width: 750px) {
    
    .app {
        flex-direction: column;
    }
    
    header {
        width: 100%;
        position: relative;
        justify-content: center;
    }
    
    .content {
        width: 100%;
        margin-left: 0;
        position: relative;
    }

}
