.card {
    width: 250px;
    margin: 20px;
    padding: 0;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #f3ebe5;
    overflow: hidden;
}

.card:hover,
.card:focus {
    box-shadow: 0px 0px 2px 2px rgb(230, 41, 41)
}

.card.nav:hover,
.card.nav:focus {
    box-shadow: 0px 0px 10px 10px rgba(41,164,230,1);
}

.card.nav {
    background: #29a4e6;
    opacity: 0.25;
}

.card.nav:hover,
.card.nav:focus {
    cursor: pointer;
    opacity: 1;
}

.card.nav img {
    width: 100%;
}
