.ships {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 225px; /* sidebar width, use css variable? */
}

.ship {
    width: 250px;
    margin: 20px;
}

.ship-image {
    height: 150px;
    background: url("/stars.jpg");
}

.ship h4 {
    margin: 5px 0;
}

.ship dt {
    font-size: 10px;
    color: #999;
    text-transform: uppercase;
    margin-top: 10px;
}

.ship dd {
    margin-inline-start: 0;
    margin-top: 5px;
}
