.ships {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-left: 225px; /* sidebar width, use css variable? */
}

.ship {
    width: 250px;
    margin: 20px;
    padding: 0;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #f3ebe5;
    overflow: hidden;
}

.ship-image {
    height: 150px;
    background: url("/stars.jpg");
}

.ship h4 {
    margin: 5px 0;
    padding: 10px 20px;
    background: #CD4A36;
    color: #efefef;
    margin-top: 15px;
}

.ship dt {
    padding: 0 20px;
    font-size: 10px;
    color: #999;
    text-transform: uppercase;
    padding-top: 10px;
    border-top: 1px solid #fff;
}

.ship dd {
    border-bottom: 1px solid #ddd;
    padding: 2px 20px 5px 20px;
    margin-inline-start: 0;
    margin-top: 5px;
}
