* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #eee;
    overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
